body{
    background-color:#454545;
    background-size: 100% 100%;
    min-height: 100vh;
    overflow: hidden;
    background-image: url('images/Background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    color: white;
}

.row{

    padding-top: 4%;

}
.card{
    background-color: transparent;
    border-radius: 20px;
    border-color: white;
    backdrop-filter: blur(10px); /* Adjust the blur intensity here */
}
.card-header{
    background-color: transparent;
    border: none;
}
h2{
    color: white;
    width: auto;
    font-size: 30px;

}
.button {
    background-image: linear-gradient(to right, #ef32d9 0%, #89fffd  51%, #ef32d9  100%);
    text-align: center;
    text-transform: uppercase;
    height: 60px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    width: 100%;
    border-radius: 10px;
    display: block;
  }

  .button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

.control-label{
    font-size: 20px;
    color: black;
}

span{
    color: black;
}

.radio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.radio-item {
    display: flex;
    align-items: center;
}

.alert{
    margin-top: 5%;
}