body{
    background-color:black;
 background-image: url('images/0te8f6id.bmp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    overflow: hidden;
}

.row{

    padding-top: 12%;

}
.card{

    background-color: transparent;
    border-radius: 20px;
    border-color: white;
}
h2{
    color:white;
    font-size: 30px;
    border-color: transparent;
}
.button{

    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 100%;
    border-radius: 10px;
    transition-duration: 0.7s;
}
.button:hover {
    color: black;
    background-color:white;
    cursor: pointer;

}

.control-label{
    font-size: 20px;
    color: white;
}

span{
    color: white;
}

.form-control{
    background-color: transparent;
    border-width: 2px;
    border-radius: 10px;
    transition-duration: 0.7s;
    color:white;
}
.form-control:hover{
    background-color:white;
    color:black;
    border-width: 2px;
    border-radius: 10px;
}

