body {
    font-family: 'Arial', sans-serif;
    background-color: #454545;
    color: white;
    background-image: url('images/Background2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

#sidebar {
    height: 100vh;
    position: fixed;
    width: 80px;
    top: 0;
    left: 0;
    z-index: 1;
    padding-top: 150px;
    background-color: #454545;
    color: #fff;
}

#topbar{
    height: 80px;
}

#sidebar .nav-link {
    color: #d1d1d1;
}

#sidebar .nav-link:hover {
    color: #fff;
    background-color: #495057;
}

#content {
    margin-top: 100px; /* Adjust this value based on your top navbar height */
    margin-left: 100px;
    padding: 20px;
}

#Scrollable_Div{
    overflow-y: scroll;
    height:400px;
}

.button {
    background-image: linear-gradient(to right, #ef32d9 0%, #89fffd  51%, #ef32d9  100%);
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    text-decoration: none; /* Remove underline */
}

.button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

#myChartContainer{
    width:400px;
    height:600px;
    position: center;
    margin: auto auto;
}

.card{
    padding: 50px;
    margin-top: 50px;
    background-color: transparent;
    border-radius: 20px;
    border-color: white;
    backdrop-filter: blur(10px); /* Adjust the blur intensity here */
}
